html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	overflow: hidden;
}

.gameData {
	border-top: 2px midnightblue;

	background-color: lightblue;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: lightseagreen;
	font-weight: bold;

	text-align: center;
}

.gameData div {
	padding: 10px 20px;
}

#gameScore {
	text-align: start;
}

#gameTime {
	text-align: end;
}